*.*
!*.sh
!*.pl
!*.csv
!.gitignore
!*.xprs
!*.matrix
!*.R
!*.Rmd
!*.html
.Rproj.user
!*.RProj
/.metadata/
/.DS_Store
*.fasta
*.fastq
*.sam
*.bam
*.bai
*.err
*.iit
*.log
*.err
AiptasiaGmapDb/
trinity_out_dir/

